/* Danger Button */
.btn-danger {
    font-size: 12px;
    color: rgba($white, 1);
    line-height: 15px;
    border: 2px solid rgba($button-red-color, .9);
    border-radius: 20px;
    background-color: rgba($button-red-color, .7);
    transition: all 0.3s ease 0s;
    text-transform: $form-text-transform;
    padding: 5px 20px;
}
  
.btn-danger:hover {
    color: #FFF;
    background: rgba($button-red-hover-color, .9);
    border: 2px solid rgba($button-red-hover-color, .7);
}

/* Transparent Button */
.btn-transparent {
    font-size: 12px;
    color: rgba($red, 1);
    line-height: 15px;
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    text-transform: $form-text-transform;
    padding: 5px 20px;
}

.btn-transparent:hover {
    color: #FFF;
    background: rgba($red, .9);
    border: 2px solid rgba($button-red-hover-color, .7);
}

/* Info Button */
.btn-info {
    font-size: 12px;
    color: rgba($white, 1);
    line-height: 15px;
    border: 2px solid rgba($button-blue-color, .9);
    border-radius: 20px;
    background-color: rgba($button-blue-color, .7);
    transition: all 0.3s ease 0s;
    text-transform: $form-text-transform;
    padding: 5px 20px;
}

.btn-info:hover {
    color: #FFF;
    background: rgba($button-blue-hover-color, .9);
    border: 2px solid rgba($button-blue-hover-color, .7);
}

/* Warning Button */
.btn-warning {
    font-size: 12px;
    color: rgba($white, 1);
    line-height: 15px;
    border: 2px solid rgba($button-yellow-color, 9);
    border-radius: 20px;
    background-color: rgba($button-yellow-color, .7);
    transition: all 0.3s ease 0s;
    text-transform: $form-text-transform;
    padding: 5px 20px;
}

.btn-warning:hover {
    color: #FFF;
    background: rgba($button-yellow-hover-color, .9);
    border: 2px solid rgba($button-yellow-hover-color, .7);
}