.form-container {
    background-image: url('/assets/adult-alcohol-blur-290316-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 7px 0px;

    a {
        font-size: 8px;
        text-decoration: underline;
    }    
}

.form-group {
    padding: 5px;

    input {
        outline: 0;
        border-width: 0 0 2px;
        border-color: rgba($gray-500, .1);
        background: transparent;
        font-size: 14px;
        text-transform: uppercase;
        color: rgba($gray-500, 1);;
    }

    input:focus {
        border-color: $white;
    }

    label {
        font-weight: bold;
        color: rgba($gray-500, 1);
    }
}