.form-login-container {
    background-image: url('/assets/adult-alcohol-blur-290316-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 7px px;

    a {
        font-size: 8px;
        text-decoration: underline;
    }    
}

.form-group {
    padding: 5px;

    input {
        outline: 0;
        border-width: 0 0 1px;
        border-color: rgba($gray-500, .1);
        background: transparent;
        font-size: 14px;
        text-transform: uppercase;
        color: rgba($gray-500, 1);

        @include hover-focus {
            border-color: $white;
            width: 50%; transition: 0.6s;
        }
    }

    label {
        font-weight: bold;
        color: rgba($gray-500, 1);
    }
}