.form-login-container {
    background-image: url('/assets/adult-alcohol-blur-290316-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 7px 0px;

    .form-group {
        padding: 5px;

        input {
            outline: 0;
            border-width: 0 0 1px;
            border-color: rgba($gray-500, .7);
            background: transparent;
            font-size: 14px;
            text-transform: uppercase;
            color: $white;
        }
    }

    button {
        text-transform: $form-text-transform;
        padding: 5px 20px;
    }

    a {
        font-size: 8px;
        text-decoration: underline;
    }    
}