// Dark links against a red background
.navbar-red {
    padding: 0px;
    border-radius: 10px;
    margin: 7px 0px;

    .navbar-brand {
        color: $navbar-red-active-color;
  
        @include hover-focus {
            color: $navbar-red-active-color;
        }
    }
  
    .navbar-nav {
        .nav-link {
            color: $navbar-red-color;
            margin: 0px 50px;
            white-space: nowrap;
  
            @include hover-focus {
                color: $navbar-red-hover-color;
            }
  
            &.disabled {
                color: $navbar-red-disabled-color;
            }
        }
  
        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
            color: $navbar-red-active-color;
        }
        .divider {
            border: 0.5px solid $white;
            margin: 0px 0px;
        }

        .nav-item {
            @extend .nav-item;

            padding-top: 8px;
            padding-bottom: 10px;
        }        

        .lower-shadow.active, .lower-shadow:hover {
            -webkit-box-shadow: 0 9px 3px #FF0000;
            -moz-box-shadow: 0 9px 3px #FF0000;
            box-shadow: 0 9px 3px rgb(165, 7, 7);
            -o-box-shadow: 0px 9px  3px rgba(0,0,0,0.6);
        }

        .lower-shadow.active, .lower-shadow:hover, .nav-link:hover {
            border-color: rgb(151, 71, 89);
            background-color:#ff3333;
            color: $navbar-red-active-color;
        }

        .right-shadow.active, .right-shadow:hover {
            -webkit-box-shadow: 10px 0 5px -2px #FF0000;
            -moz-box-shadow: 10px 0 5px -2px #FF0000;
            box-shadow: 10px 0 5px -2px rgb(165, 7, 7);
            -o-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
        }

        .right-shadow.active, .right-shadow:hover, .nav-link:hover {
            border-color: rgb(151, 71, 89);
            background-color:#ff3333;
            color: $navbar-red-active-color;
        }
    }
  
    .navbar-toggler {
        color: $navbar-red-color;
        border-color: $navbar-red-toggler-border-color;
    }
  
    .navbar-toggler-icon {
        background-image: $navbar-red-toggler-icon-bg;
    }
  
    .navbar-text {
        color: $navbar-red-color;
        a {
            color: $navbar-red-active-color;
  
            @include hover-focus {
                color: $navbar-red-active-color;
            }
        }
    }
}
