.social-bar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    margin: 0px 15px;
    list-style: none;
    @include border-radius($breadcrumb-border-radius);
}

.social-bar-item {
    
    padding: 15px 15px;
  
    .active {
        color: #ff3333;
    }

    @include hover-focus { 
        background-color:#ff3333;

        i {
            color: white;
        }
    }

    a {
        color: $body-color;
    }
}

input {
    padding: 15px 15px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgba($gray-500, .1);
    background: transparent;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba($gray-500, 1);

    @include hover-focus {
        border-color: $white;
        width: 50%; transition: 0.6s;
    }

}


  