$body-color: #99979C;
$font-size-base: 0.7rem !default;
$font-weight-normal: 430;

/* navbar red */
$navbar-red-color:                rgba($gray-500, .9) !default;
$navbar-red-hover-color:          rgba($white, .8) !default;
$navbar-red-active-color:         rgba($white, 1) !default;
$navbar-red-disabled-color:       rgba($gray-500, .3) !default;
$navbar-red-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-red-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-red-toggler-border-color: rgba($white, .1) !default;

/* buttons */
$button-red-color: #FF0000 !default;
$button-red-hover-color: #ff3333 !default;

$button-blue-color: #ADD8E6 !default;
$button-blue-hover-color: #ADD8E6 !default;

$button-yellow-color: #ffb90f !default;
$button-yellow-hover-color: #ffb90f !default;

/* forms */
$form-text-size: 14px;
$form-text-transform: uppercase !default;

