

@import "node_modules/bootstrap/scss/bootstrap";
@import "_variables.scss";
@import "_nav.scss";
@import "_forms.scss";
@import "_buttons.scss";

body {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}



